html {
  box-sizing: border-box;
  color: #000;
  font-family: Georgia, serif;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #f5f2f0;
  margin: 0;
  padding: .75em;
}

h1 {
  margin: 0;
  padding: 0 0 .75em;
}

h2 {
  margin: 0;
  margin-bottom: .5em;
  padding: 0;
}

h1, h2 {
  color: #623b0c;
  font-family: "Denk One", serif;
}

ol {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  grid-gap: 1rem;
  padding: 0;
  margin: 0;
}

li {
  box-sizing: content-box;
  background-color: #ede3db;
  border: solid 2px #623b0c;
  border-radius: 8px;
  padding: .75em;
  display: flex;
  flex: 30%;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  margin: 0;
}

a {
  margin: 0;
  background-color: #623b0c;
  color: #fff;
  text-decoration: none;
  padding: .75em;
  border-radius: 8px;
}

img {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: .5em;
}

p {
  margin: 0;
  padding: 1em 1em 1em 0;
}
